*
{
    margin: 0;
    padding: 0;
}
.first
{
    background-image: linear-gradient(to right, rgb(239, 166, 217), rgb(244, 208, 156),);
    height:150px;
}
.first ul li
{
    margin-left: 470px;
    text-decoration: solid;
}
.first a
{
    text-decoration: none;
    padding-left: 45px;
    font: size 40px;
    color
}
.first a:hover 
{
    color: #e75480;
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);
}
.btn
{
    margin-left: 1250px;
    width:11%;
    height: 40px;
    margin-top: -30px;
    position: absolute;
    border: none;
}
.btn:hover
{
 background-color:black;
 color:white   

}
.first img
{
    margin-left: 60px;
    margin-top: 40px


}